/* ================================== */
/* ============ HOMEPAGE ============ */
/* ================================== */

body .crosscourt-big-title.anim1,
body .crosscourt-big-title.anim20 {
  opacity: 0.1;
}
body .crosscourt-big-title.anim2,
body .crosscourt-big-title.anim19 {
  opacity: 0.2;
}
body .crosscourt-big-title.anim3,
body .crosscourt-big-title.anim18 {
  opacity: 0.3;
}
body .crosscourt-big-title.anim4,
body .crosscourt-big-title.anim17 {
  opacity: 0.4;
}
body .crosscourt-big-title.anim5,
body .crosscourt-big-title.anim16 {
  opacity: 0.5;
}
body .crosscourt-big-title.anim6,
body .crosscourt-big-title.anim15 {
  opacity: 0.6;
}
body .crosscourt-big-title.anim7,
body .crosscourt-big-title.anim14 {
  opacity: 0.7;
}
body .crosscourt-big-title.anim8,
body .crosscourt-big-title.anim13 {
  opacity: 0.8;
}
body .crosscourt-big-title.anim9,
body .crosscourt-big-title.anim12 {
  opacity: 0.9;
}
body .crosscourt-big-title.anim10,
body .crosscourt-big-title.anim11 {
  opacity: 1;
}

/* ================================== */
/* ======= NO SESSION CREDITS ======= */
/* ================================== */

body .no-session-credits .title.anim1 {
  transform: scale(1.05) translateZ(0);
}
body .no-session-credits .title.anim2 {
  transform: scale(1.1) translateZ(0);
}
body .no-session-credits .title.anim3 {
  transform: scale(1.15) translateZ(0);
}
body .no-session-credits .title.anim4 {
  transform: scale(1.2) translateZ(0);
}
body .no-session-credits .title.anim5 {
  transform: scale(1.25) translateZ(0);
}
body .no-session-credits .title.anim6 {
  transform: scale(1.3) translateZ(0);
}
body .no-session-credits .title.anim7 {
  transform: scale(1.35) translateZ(0);
}
body .no-session-credits .title.anim8 {
  transform: scale(1.4) translateZ(0);
}
body .no-session-credits .title.anim9 {
  transform: scale(1.45) translateZ(0);
}
body .no-session-credits .title.anim10 {
  transform: scale(1.5) translateZ(0);
}
body .no-session-credits .title.anim11 {
  transform: scale(1.55) translateZ(0);
}
body .no-session-credits .title.anim12 {
  transform: scale(1.6) translateZ(0);
}
body .no-session-credits .title.anim13 {
  transform: scale(1.65) translateZ(0);
}
body .no-session-credits .title.anim14 {
  transform: scale(1.7) translateZ(0);
}
body .no-session-credits .title.anim15 {
  transform: scale(1.75) translateZ(0);
}
body .no-session-credits .title.anim16 {
  transform: scale(1.8) translateZ(0);
}
body .no-session-credits .title.anim17 {
  transform: scale(1.85) translateZ(0);
}
body .no-session-credits .title.anim18 {
  transform: scale(1.9) translateZ(0);
}
body .no-session-credits .title.anim19 {
  transform: scale(1.95) translateZ(0);
}
body .no-session-credits .title.anim20 {
  transform: scale(2) translateZ(0);
}
body .no-session-credits .title.anim21 {
  transform: scale(2.1) translateZ(0);
}
body .no-session-credits .title.anim22 {
  transform: scale(2.2) translateZ(0);
}
body .no-session-credits .title.anim23 {
  transform: scale(2.3) translateZ(0);
}
body .no-session-credits .title.anim24 {
  transform: scale(2.4) translateZ(0);
}
body .no-session-credits .title.anim25 {
  transform: scale(2.5) translateZ(0);
}
body .no-session-credits .title.anim26 {
  transform: scale(2.7) translateZ(0);
}
body .no-session-credits .title.anim27 {
  transform: scale(2.9) translateZ(0);
}
body .no-session-credits .title.anim28 {
  transform: scale(3.1) translateZ(0);
}
body .no-session-credits .title.anim29 {
  transform: scale(3.3) translateZ(0);
}
body .no-session-credits .title.anim30 {
  opacity: 0;
  transition: transform 2000ms ease, opacity 2000ms ease;
  transform: scale(500) translateZ(0);
}

body .no-session-credits .scroll.anim1 {
  opacity: 0.9;
}
body .no-session-credits .scroll.anim2 {
  opacity: 0.8;
}
body .no-session-credits .scroll.anim3 {
  opacity: 0.7;
}
body .no-session-credits .scroll.anim4 {
  opacity: 0.6;
}
body .no-session-credits .scroll.anim5 {
  opacity: 0.55;
}
body .no-session-credits .scroll.anim6 {
  opacity: 0.5;
}
body .no-session-credits .scroll.anim7 {
  opacity: 0.45;
}
body .no-session-credits .scroll.anim8 {
  opacity: 0.4;
}
body .no-session-credits .scroll.anim9 {
  opacity: 0.35;
}
body .no-session-credits .scroll.anim10 {
  opacity: 0.3;
}
body .no-session-credits .scroll.anim11 {
  opacity: 0.25;
}
body .no-session-credits .scroll.anim12 {
  opacity: 0.2;
}
body .no-session-credits .scroll.anim13 {
  opacity: 0.15;
}
body .no-session-credits .scroll.anim14 {
  opacity: 0.1;
}
body .no-session-credits .scroll.anim15 {
  opacity: 0.05;
}
body .no-session-credits .scroll.anim16,
body .no-session-credits .scroll.anim17,
body .no-session-credits .scroll.anim18,
body .no-session-credits .scroll.anim19,
body .no-session-credits .scroll.anim20,
body .no-session-credits .scroll.anim21,
body .no-session-credits .scroll.anim22,
body .no-session-credits .scroll.anim23,
body .no-session-credits .scroll.anim24,
body .no-session-credits .scroll.anim25,
body .no-session-credits .scroll.anim26,
body .no-session-credits .scroll.anim27,
body .no-session-credits .scroll.anim28,
body .no-session-credits .scroll.anim29,
body .no-session-credits .scroll.anim30 {
  opacity: 0;
}
