.contact-us-form {
  font-family: 'shapiro45_welter_extd' !important;
}

.contact-us-form button {
  background-color: #9999ff !important;
  border: 3px solid #fff !important;
  border-radius: 0 !important;
  color: #fff !important;
  font-family: 'shapiro95_super_wide' !important;
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 20px !important;
  text-transform: uppercase !important;
  transition: 500ms background-color ease, 500ms border-color ease, 500ms color ease !important;
}

.contact-us-form button:hover {
  background-color: white !important;
  border: 3px solid #9999ff !important;
  border-radius: 0 !important;
  color: #9999ff !important;
}
