@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono'), local('SpaceMono-Regular'),
    url('../fonts/space-mono-v5-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/space-mono-v5-latin-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: block;
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Space Mono Bold'), local('SpaceMono-Bold'),
    url('../fonts/space-mono-v5-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/space-mono-v5-latin-700.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: block;
}

@font-face {
  font-family: 'dharma_gothic_cexbold';
  src: url('../fonts/dharmagothicc_exbold_r-webfont.woff2') format('woff2'),
    url('../fonts/dharmagothicc_exbold_r-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dharma_gothic_cheavy_italic';
  src: url('../fonts/dharmagothicc_heavy_i-webfont.woff2') format('woff2'),
    url('../fonts/dharmagothicc_heavy_i-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dharma_gothic_cheavy';
  src: url('../fonts/dharmagothicc_heavy_r-webfont.woff2') format('woff2'),
    url('../fonts/dharmagothicc_heavy_r-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shapiro45_welter_extd';
  src: url('../fonts/shapiro-45welterextd-webfont.woff2') format('woff2'),
    url('../fonts/shapiro-45welterextd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shapiro95_super_wide';
  src: url('../fonts/shapiro-95superwide-webfont.woff2') format('woff2'),
    url('../fonts/shapiro-95superwide-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'shapiro96_inclined_wide';
  src: url('../fonts/shapiro-96inclinedwide-webfont.woff2') format('woff2'),
    url('../fonts/shapiro-96inclinedwide-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'shapiro97_air_extd';
  src: url('../fonts/shapiro-97airextd-webfont.woff2') format('woff2'),
    url('../fonts/shapiro-97airextd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
