/* HEADER */
body .header {
  background-color: transparent;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  height: 64px;
  transition: 500ms background-color ease, 500ms box-shadow ease, 500ms opacity ease;
}
body .header.scrolled {
  background-color: #231f20;
}
body .header .menu-button-container {
  width: 56px;
}
body .header .menu-button-container .menu-button {
  cursor: pointer;
  position: relative;
  z-index: 10002;
}
body .header .menu-button-container .menu-button:hover {
  opacity: 0.6;
}
body .header .menu-button-container .menu-button .menu-bars,
body .header .menu-button-container .menu-button .menu-bars-alt,
body .header .menu-button-container .menu-button .menu-bars-nav-open {
  height: 100%;
  left: 16px;
  position: absolute;
  top: -2px;
  transition: 500ms opacity ease;
}

body
  .header
  .cheeseburger-menu.open
  + .header-content
  .menu-button-container
  .menu-button
  .menu-bars-nav-open {
  opacity: 1;
}
body .header .logo-icon,
body .header .logo-icon-nav-open {
  background-color: transparent;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  height: 25px;
  left: 55px;
  overflow: hidden;
  position: absolute;
  top: 18px;
  transition: 500ms opacity ease, 500ms width ease;
  width: 130px;
  z-index: 10;
}
@media (min-width: 420px) {
  body .header .logo-icon,
  body .header .logo-icon-alt,
  body .header .logo-icon-nav-open {
    width: 150px;
  }
}
@media (min-width: 568px) {
  body .header .logo-icon,
  body .header .logo-icon-alt,
  body .header .logo-icon-nav-open {
    width: 205px;
  }
}
@media (min-width: 992px) {
  body .header .logo-icon,
  body .header .logo-icon-alt,
  body .header .logo-icon-nav-open {
    left: 60px;
  }
}
body .header .logo-icon:hover,
body .header .logo-icon-alt:hover,
body .header .logo-icon-nav-open:hover {
  opacity: 0.6;
}
body .header .logo-icon {
  opacity: 1;
}

body .header.scrolled .logo-icon-alt {
  opacity: 1;
}
body .header .logo-icon-nav-open {
  opacity: 0;
  z-index: 0;
}
body .header .cheeseburger-menu.open + .header-content .logo-icon-nav-open {
  opacity: 1;
  z-index: 1002;
}
