/* HOMEPAGE */
body .make-sport-your-lifestyle {
  background-image: url('../../screens/homepage/images/make-sport-your-lifestyle.jpg');
  background-position: top;
  min-height: 850px;
}
@media (min-width: 992px) {
  body .make-sport-your-lifestyle {
    background-attachment: fixed;
  }
}
body .make-sport-your-lifestyle::after {
  content: '';
  background: rgba(0, 0, 0, 0.4);
  display: block;
  height: 100vh;
  min-height: 850px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
body .make-sport-your-lifestyle .title-and-buttons-block {
  padding: 0 32px;
  position: relative;
  text-align: center;
  z-index: 1;
}

body .make-sport-your-lifestyle .title-and-buttons-block .title {
  animation: 2000ms ease-out 500ms 1 both topFadeInAndSlideIn;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  body .make-sport-your-lifestyle .title-and-buttons-block .title {
    font-size: 50px;
    line-height: 56px;
  }
}
body .make-sport-your-lifestyle .title-and-buttons-block .ar-button {
  animation: 500ms ease-out 2500ms 1 both fadeIn;
  display: block;
  margin: 0 auto;
  max-width: 200px;
}
@media (min-width: 992px) {
  body .make-sport-your-lifestyle .title-and-buttons-block .ar-button {
    display: inline-block;
    max-width: none;
  }
}
body .make-sport-your-lifestyle .title-and-buttons-block .ar-button.first-time-button {
  font-family: 'shapiro96_inclined_wide';
}
body .make-sport-your-lifestyle .title-and-buttons-block .ar-button.first-time-button {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  body .make-sport-your-lifestyle .title-and-buttons-block .ar-button.first-time-button {
    margin: 0 50px 0 0;
  }
}
body .make-sport-your-lifestyle .crosscourt-big-title {
  bottom: -19.6vw;
  font-size: 45vw;
  left: -0.7vw;
  line-height: 36vw;
  margin: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: opacity 100ms ease;
  width: 100vw;
  z-index: 1;
}
body .make-sport-your-lifestyle .crosscourt-big-title.anim1,
body .make-sport-your-lifestyle .crosscourt-big-title.anim20 {
  opacity: 0.1;
}
body .make-sport-your-lifestyle .crosscourt-big-title.anim2,
body .make-sport-your-lifestyle .crosscourt-big-title.anim19 {
  opacity: 0.2;
}
body .make-sport-your-lifestyle .crosscourt-big-title.anim3,
body .make-sport-your-lifestyle .crosscourt-big-title.anim18 {
  opacity: 0.3;
}
body .make-sport-your-lifestyle .crosscourt-big-title.anim4,
body .make-sport-your-lifestyle .crosscourt-big-title.anim17 {
  opacity: 0.4;
}
body .make-sport-your-lifestyle .crosscourt-big-title.anim5,
body .make-sport-your-lifestyle .crosscourt-big-title.anim16 {
  opacity: 0.5;
}
body .make-sport-your-lifestyle .crosscourt-big-title.anim6,
body .make-sport-your-lifestyle .crosscourt-big-title.anim15 {
  opacity: 0.6;
}
body .make-sport-your-lifestyle .crosscourt-big-title.anim7,
body .make-sport-your-lifestyle .crosscourt-big-title.anim14 {
  opacity: 0.7;
}
body .make-sport-your-lifestyle .crosscourt-big-title.anim8,
body .make-sport-your-lifestyle .crosscourt-big-title.anim13 {
  opacity: 0.8;
}
body .make-sport-your-lifestyle .crosscourt-big-title.anim9,
body .make-sport-your-lifestyle .crosscourt-big-title.anim12 {
  opacity: 0.9;
}
body .make-sport-your-lifestyle .crosscourt-big-title.anim10,
body .make-sport-your-lifestyle .crosscourt-big-title.anim11 {
  opacity: 1;
}

body .crosscourt-is-a-high-intensity {
  background-image: url('../../screens/homepage/images/crosscourt-is-a-high-intensity.jpg');
  background-position: top;
  min-height: 850px;
  height: 100vh;
}
@media (min-width: 992px) {
  body .crosscourt-is-a-high-intensity {
    background-attachment: fixed;
    height: 150vh;
  }
}
body .crosscourt-is-a-high-intensity::after {
  content: '';
  background: rgba(0, 0, 0, 0.4);
  display: block;
  min-height: 850px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
@media (min-width: 992px) {
  body .crosscourt-is-a-high-intensity::after {
    height: 150vh;
  }
}
body .crosscourt-is-a-high-intensity .title-block {
  padding: 0 32px;
  position: relative;
  text-align: center;
  z-index: 1;
}
@media (min-width: 992px) {
  body .crosscourt-is-a-high-intensity .title-block {
    padding: 0 10%;
  }
}
body .crosscourt-is-a-high-intensity .title-block .title {
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 992px) {
  body .crosscourt-is-a-high-intensity .title-block .title {
    font-size: 40px;
    line-height: 46px;
  }
}
body .bar-malik {
  background-color: #faf7f3;
  display: block;
}
@media (min-width: 992px) {
  body .bar-malik {
    background-color: #9999ff;
    display: flex;
    flex-direction: row;
    height: 50vw;
    padding: 7.5vw 9.8vw 7.5vw 11.4vw;
  }
}
body .bar-malik .bar-malik-image {
  border-bottom: 3px solid #fff;
  display: block;
  height: auto;
  visibility: hidden;
  width: 100%;
}
@media (min-width: 992px) {
  body .bar-malik .bar-malik-image {
    border: 3px solid #fff;
    width: 41vw;
  }
}
body .bar-malik .bar-malik-image.animate__animated {
  visibility: visible;
}
body .bar-malik .info-box {
  background-color: #9999ff;
  padding: 50px 30px;
}
@media (min-width: 992px) {
  body .bar-malik .info-box {
    border: 3px solid #fff;
    margin: 1.9vw 0 1.9vw -3.1vw;
    padding: 1.5vw;
    width: 100%;
  }
}
body .bar-malik .info-box .title {
  color: #fff;
  font-family: 'shapiro95_super_wide';
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  body .bar-malik .info-box .title {
    font-size: 2vw;
    line-height: 2.5vw;
    margin-bottom: 2vw;
  }
}
body .bar-malik .info-box .description {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 28px;
}
@media (min-width: 992px) {
  body .bar-malik .info-box .description {
    font-size: 1.3vw;
    line-height: 1.6vw;
    margin-bottom: 1.6vw;
    max-width: 36vw;
  }
}
body .bar-malik .info-box .author {
  color: #fff;
  margin-bottom: 4px;
  text-align: right;
}
@media (min-width: 992px) {
  body .bar-malik .info-box .author {
    line-height: 1.8vw;
    margin-bottom: 0.3vw;
  }
}
body .bar-malik .info-box .author a {
  color: #fff;
  font-family: 'shapiro95_super_wide';
  font-size: 28px;
  line-height: 32px;
  text-decoration: none;
  transition: 300ms color ease;
}
@media (min-width: 992px) {
  body .bar-malik .info-box .author a {
    font-size: 2.4vw;
    line-height: 1.8vw;
  }
}
body .bar-malik .info-box .author a:hover {
  color: #000;
}
body .bar-malik .info-box .role {
  color: #fff;
  font-size: 10px;
  line-height: 14px;
  margin-bottom: 0;
  text-align: right;
}
@media (min-width: 992px) {
  body .bar-malik .info-box .role {
    font-size: 0.8vw;
    line-height: 1vw;
  }
}

body .follow-us-on-instagram {
  height: auto;
}

body .follow-us-on-instagram .title-block {
  padding: 32px 32px 20px;
  position: relative;
  z-index: 1;
}
@media (min-width: 992px) {
  body .follow-us-on-instagram .title-block {
    padding: 32px;
  }
}
body .follow-us-on-instagram .title-block .heading-sprite {
  background-position: 0px -44px;
  height: 44px;
}
@media (min-width: 992px) {
  body .follow-us-on-instagram .title-block .heading-sprite {
    background-position: 0px -83px;
    height: 70px;
  }
}
body .follow-us-on-instagram .title-block .title-1 {
  font-size: 18.4px;
  line-height: 14.4px;
  margin-bottom: 0;
}
@media (min-width: 992px) {
  body .follow-us-on-instagram .title-block .title-1 {
    font-size: 34.6px;
    line-height: 30.6px;
  }
}
body .follow-us-on-instagram .title-block .title-2 {
  font-size: 26.8px;
  line-height: 22.8px;
}
@media (min-width: 992px) {
  body .follow-us-on-instagram .title-block .title-2 {
    font-size: 50.3px;
    line-height: 46.3px;
    margin-bottom: 40px;
  }
}
body .follow-us-on-instagram .instafeed {
  margin-bottom: 20px;
  text-align: center;
}
body .follow-us-on-instagram .instafeed .eapps-instagram-feed-posts-grid-load-more {
  background-color: #9999ff !important;
  border: 3px solid #fff;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  font-family: 'shapiro95_super_wide';
  height: auto;
  line-height: 19px;
  min-width: 130px;
  padding: 8px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 500ms background-color ease, 500ms border-color ease, 500ms color ease;
  width: auto;
  display: inline-block;
  margin: 24px 32px;
}
body .follow-us-on-instagram .instafeed .eapps-instagram-feed-posts-grid-load-more:hover {
  background-color: #fff !important;
  border: 3px solid #9999ff;
  color: #9999ff;
}

body .section-block {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

body .section-block.text-white {
  color: #fff;
}
body .section-block.text-black {
  color: #000;
}
body .section-block.text-purple {
  color: #9999ff;
}
body .section-block .title-and-description-block {
  padding: 32px;
  width: 100vw;
}
@media (min-width: 992px) {
  body .section-block .title-and-description-block {
  }
}
body .section-block .title-and-description-block.shift-left,
body .section-block .title-and-description-block.shift-right {
  box-sizing: border-box;
  display: block;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}
@media (min-width: 992px) {
  body .section-block .title-and-description-block.shift-left,
  body .section-block .title-and-description-block.shift-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
body .section-block .title-and-description-block.shift-left {
  text-align: left;
}
@media (min-width: 992px) {
  body .section-block .title-and-description-block.shift-left {
    padding-right: 33vw;
  }
}
@media (min-width: 1200px) {
  body .section-block .title-and-description-block.shift-left {
    padding-right: 44vw;
  }
}
body .section-block .title-and-description-block.shift-right {
  text-align: right;
}
@media (min-width: 992px) {
  body .section-block .title-and-description-block.shift-right {
    align-items: flex-end;
    padding-left: 33vw;
  }
}
@media (min-width: 1200px) {
  body .section-block .title-and-description-block.shift-right {
    padding-left: 44vw;
  }
}
body .section-block p {
  margin: 0;
}
body .section-block .title-and-description-block .title-1 {
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  body .section-block .title-and-description-block .title-1 {
    font-size: 52px;
    line-height: 48px;
    margin-bottom: 30px;
  }
}
body .section-block .title-and-description-block .title-2 {
  font-size: 120px;
  line-height: 100px;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  body .section-block .title-and-description-block .title-2 {
    font-size: 250px;
    line-height: 200px;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  body .section-block .title-and-description-block .title-2 .the {
    opacity: 0.5;
  }
}
body .section-block .title-and-description-block .description {
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 992px) {
  body .section-block .title-and-description-block .description {
    font-size: 18px;
    line-height: 24px;
  }
}
