@import './animations.css';
@import './contact-form.css';
@import './utilities.css';
@import './sidebar.css';
@import './alerts.css';
@import './toasts.css';
@import './onboarding-tour.css';
@import './active-campaign-chat.css';
@import './email-opt-in.css';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#modal-root {
  position: relative;
  z-index: 999;
  font-family: 'shapiro95_super_wide';
}

#root {
  position: relative;
  overflow: auto;
  height: 100%;
}

.hide {
  display: none !important;
}

/* GLOBAL STYLES */
*,
::after,
::before {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  font-family: 'shapiro45_welter_extd';
  font-size: 16px;
  line-height: 20px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body ul,
body ol {
  margin: 0;
  padding-left: 15px;
}
body h1,
body h2,
body h3,
body h4,
body p {
  margin-top: 0;
}
body h1,
body h2,
body h3,
body h4 {
  line-height: normal;
}
body .mobile-hide-inline {
  display: none;
}
@media (min-width: 992px) {
  body .mobile-hide-inline {
    display: inline;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes introGlow {
  0% {
    opacity: 0;
    /* transform: scale(1) rotate3d(1,1,10,10deg); */
    /* text-shadow: -300px 0 300px #FFF; */
  }
  100% {
    opacity: 1;
    /* transform: scale(1) rotate3d(0,0,0,0deg); */
    /* text-shadow: 300px 0 0 transparent; */
  }
}
@keyframes topFadeInAndSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes leftFadeInAndSlideInRotated {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-90deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(-90deg);
  }
}
@keyframes bottomFadeInAndSlideIn {
  0% {
    opacity: 0;
    transform: translateY(100%) rotate(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(0);
  }
}

/* MAIN */
body[data-page='home'] main,
body[data-page='how-it-works'] main,
body[data-page='free-session-credit-added'] main,
body[data-page='no-session-credits'] main,
body[data-page='dashboard'] main,
body[data-page='app'] main,
body[data-page='careers'] main,
body[data-page='memberships'] main,
body[data-page='faq'] main,
body[data-page='gallery'] main {
  padding-top: 0;
}

/* COMPONENTS */

body .go-back {
  font-family: 'shapiro95_super_wide';
  font-size: 14px;
}
body .go-back .back-button {
  height: auto;
  margin-top: 2px;
  width: 140px;
}
body .go-back:hover .back-button {
  opacity: 0.6;
}
body .dharma_gothic_cexbold {
  font-family: 'dharma_gothic_cexbold';
}
body .dharma_gothic_cheavy {
  font-family: 'dharma_gothic_cheavy';
}
body .dharma_gothic_cheavy_italic {
  font-family: 'dharma_gothic_cheavy_italic';
}
body .shapiro95_super_wide {
  font-family: 'shapiro95_super_wide';
}
body .shapiro96_inclined_wide {
  font-family: 'shapiro96_inclined_wide';
}
body .shapiro97_air_extd {
  font-family: 'shapiro97_air_extd';
  -webkit-text-stroke: 1px;
}

/* PAGES */
/* GLOBAL */
body .loader-wrapper {
  width: 200px;
  height: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -75px 0 -100px -75px;
  overflow: hidden;
}
body .loader-wrapper .floor {
  position: absolute;
  width: 314.159265359px;
  bottom: 0px;
  height: 4px;
  background: #9999ff;
  -webkit-animation-name: floor_move;
  animation-name: floor_move;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
body .loader-wrapper .ball {
  width: 50%;
  height: 100px;
  border-radius: 50%;
  left: 0;
  background: transparent url('../../shared/images/logos/cc-ball-purple.png') no-repeat 0 0;
  background-size: contain;
  position: absolute;
  bottom: 4px;
  -webkit-animation-name: ball;
  animation-name: ball;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  overflow: hidden;
}
body .loader-wrapper .ball-line {
  position: absolute;
  width: calc(100% + 2px);
  height: 4px;
  /* background: #ac4b07; */
}
body .loader-wrapper .ball-line:nth-child(1) {
  top: 50%;
  margin-top: -2px;
}
body .loader-wrapper .ball-line:nth-child(2) {
  width: 85%;
  height: 40%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-radius: 70%;
  background: transparent;
  /*border: 4px solid #ac4b07;*/
  top: -10px;
}
body .loader-wrapper .ball-line:nth-child(3) {
  width: 85%;
  height: 40%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-radius: 50%;
  background: transparent;
  /* border: 4px solid #ac4b07; */
  bottom: -10px;
}
body .loader-wrapper .ball-line:nth-child(4) {
  top: 50%;
  margin-top: -2px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
@-webkit-keyframes ball {
  from,
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes ball {
  from,
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes floor_move {
  from,
  to {
    left: 50px;
  }
  50% {
    left: -264.159265359px;
  }
}
@keyframes floor_move {
  from,
  to {
    left: 50px;
  }
  50% {
    left: -264.159265359px;
  }
}

/* PAYMENTS ADD (ADD NEW CARD) */
body .add-card .card-container .StripeElement {
  background-color: #fbf7f3;
  border: 1px solid #000;
}
body .add-card .card-container .card-number-element {
  width: 170px;
}
body .add-card .card-container .expiration-date-element {
  width: 87px;
}
body .add-card .card-container .cvc-element {
  width: 60px;
}

/* SIGNUP SUCCESS */
body[data-page='signup-success'] .header,
body[data-page='signup-success'] .footer {
  opacity: 0;
  pointer-events: none;
}
body .signup-success {
  padding: 0 32px;
  position: relative;
}
body .signup-success .envelope-open {
  margin: 0 0 70px;
  width: 70px;
}
body .signup-success h1 {
  color: #9999ff;
  font-family: 'dharma_gothic_cheavy_italic';
  font-size: 120px;
  font-weight: normal;
  margin-bottom: 100px;
}
body .signup-success .body {
  max-width: 600px;
}
body .signup-success .send-again-container .didnt-get-email {
  display: block;
  margin-bottom: 5px;
}
body .signup-success .send-again-container .send-it-again {
  display: block;
  font-family: 'shapiro95_super_wide';
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  body .signup-success .send-again-container .send-it-again {
    margin-bottom: 150px;
  }
}

@keyframes light {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}

/* MY ACCOUNT */

@media (min-width: 992px) {
  body .my-account-desktop .sidebar-container {
    width: 468px;
  }
}

body .my-account-desktop .upcoming-sessions,
body .my-account-mobile .upcoming-sessions {
  margin-bottom: 60px;
}
body .my-account-desktop .upcoming-sessions h3,
body .my-account-desktop .past-sessions h3,
body .my-account-mobile .upcoming-sessions h3,
body .my-account-mobile .past-sessions h3 {
  font-family: 'shapiro95_super_wide';
  font-size: 20px;
  line-height: 20px;
}
@media (min-width: 992px) {
  body .my-account-desktop .upcoming-sessions h3,
  body .my-account-desktop .past-sessions h3,
  body .my-account-mobile .upcoming-sessions h3,
  body .my-account-mobile .past-sessions h3 {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 10px;
  }
}
body .my-account-desktop .upcoming-sessions .empty-container,
body .my-account-desktop .past-sessions .empty-container {
  background-color: transparent;
  height: auto;
}
body .my-account-mobile .upcoming-sessions .empty-container,
body .my-account-mobile .past-sessions .empty-container {
  background-color: transparent;
  padding: 0 32px;
}
body .my-account-desktop .upcoming-sessions .empty-container .container-empty-message h3,
body .my-account-desktop .past-sessions .empty-container .container-empty-message h3,
body .my-account-mobile .upcoming-sessions .empty-container .container-empty-message h3,
body .my-account-mobile .past-sessions .empty-container .container-empty-message h3 {
  color: #000;
  letter-spacing: 0;
  margin: 0 0 10px;
}
body .my-account-desktop .upcoming-sessions .sessions-container .session-container,
body .my-account-desktop .past-sessions .sessions-container .session-container,
body .my-account-mobile .upcoming-sessions .sessions-container .session-container,
body .my-account-mobile .past-sessions .sessions-container .session-container {
  border: 3px solid #9999ff;
}

body .my-account-desktop .upcoming-sessions .sessions-container .session-container .details .date,
body .my-account-mobile .upcoming-sessions .sessions-container .session-container .details .date {
  background-color: #fff;
  color: #9999ff;
  font-family: 'shapiro95_super_wide';
  font-size: 18px;
  line-height: 54px;
  padding: 0 10px;
  position: relative;
  text-transform: uppercase;
}
body .my-account-desktop .past-sessions .sessions-container .session-container .details .date,
body .my-account-mobile .past-sessions .sessions-container .session-container .details .date {
  background-color: #000;
  color: #fff;
  font-family: 'shapiro95_super_wide';
  font-size: 18px;
  line-height: 54px;
  padding: 0 10px;
  position: relative;
  text-transform: uppercase;
}
body
  .my-account-desktop
  .upcoming-sessions
  .sessions-container
  .session-container
  .details
  .date
  .reserved-check,
body
  .my-account-desktop
  .past-sessions
  .sessions-container
  .session-container
  .details
  .date
  .reserved-check,
body
  .my-account-mobile
  .upcoming-sessions
  .sessions-container
  .session-container
  .details
  .date
  .reserved-check,
body
  .my-account-mobile
  .past-sessions
  .sessions-container
  .session-container
  .details
  .date
  .reserved-check {
  background-color: transparent;
  margin-left: 0;
  height: 35px;
  position: absolute;
  right: 10px;
  width: 35px;
}
body
  .my-account-desktop
  .upcoming-sessions
  .sessions-container
  .session-container
  .details
  .date
  .reserved-check
  svg,
body
  .my-account-desktop
  .past-sessions
  .sessions-container
  .session-container
  .details
  .date
  .reserved-check
  svg,
body
  .my-account-mobile
  .upcoming-sessions
  .sessions-container
  .session-container
  .details
  .date
  .reserved-check
  svg,
body
  .my-account-mobile
  .past-sessions
  .sessions-container
  .session-container
  .details
  .date
  .reserved-check
  svg {
  font-size: 35px;
}
body
  .my-account-desktop
  .upcoming-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container,
body
  .my-account-mobile
  .upcoming-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container {
  background-color: #9999ff;
  color: #fff;
  min-height: 128px;
  padding: 10px;
}
@media (min-width: 992px) {
  body
    .my-account-desktop
    .upcoming-sessions
    .sessions-container
    .session-container
    .details
    .time-location-buttons-container,
  body
    .my-account-mobile
    .upcoming-sessions
    .sessions-container
    .session-container
    .details
    .time-location-buttons-container {
    min-height: 0;
  }
}
body
  .my-account-desktop
  .past-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container,
body
  .my-account-mobile
  .past-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container {
  background-color: #fff;
  color: #000;
  min-height: 128px;
  padding: 10px;
}
@media (min-width: 992px) {
  body
    .my-account-desktop
    .past-sessions
    .sessions-container
    .session-container
    .details
    .time-location-buttons-container,
  body
    .my-account-mobile
    .past-sessions
    .sessions-container
    .session-container
    .details
    .time-location-buttons-container {
    min-height: 0;
  }
}
body
  .my-account-desktop
  .upcoming-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container
  .time,
body
  .my-account-desktop
  .past-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container
  .time,
body
  .my-account-mobile
  .upcoming-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container
  .time,
body
  .my-account-mobile
  .past-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container
  .time {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
body
  .my-account-desktop
  .upcoming-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container
  .location,
body
  .my-account-desktop
  .past-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container
  .location,
body
  .my-account-mobile
  .upcoming-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container
  .location,
body
  .my-account-mobile
  .past-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container
  .location {
  font-family: 'shapiro95_super_wide';
  margin: 0 0 20px;
  padding: 0;
  text-transform: uppercase;
}
body
  .my-account-desktop
  .upcoming-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container
  .buttons-container,
body
  .my-account-desktop
  .past-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container
  .buttons-container,
body
  .my-account-mobile
  .upcoming-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container
  .buttons-container,
body
  .my-account-mobile
  .past-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container
  .buttons-container {
  margin: 0;
  padding: 0;
}
body
  .my-account-desktop
  .upcoming-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container
  .buttons-container
  .confirm-button,
body
  .my-account-desktop
  .upcoming-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container
  .buttons-container
  .see-details-button,
body
  .my-account-desktop
  .past-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container
  .buttons-container
  .see-details-button,
body
  .my-account-mobile
  .upcoming-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container
  .buttons-container
  .confirm-button,
body
  .my-account-mobile
  .upcoming-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container
  .buttons-container
  .see-details-button,
body
  .my-account-mobile
  .past-sessions
  .sessions-container
  .session-container
  .details
  .time-location-buttons-container
  .buttons-container
  .see-details-button {
  padding: 0 0 5px;
  width: 100%;
}
body .my-account-mobile .tabs {
  padding: 32px 32px 0;
}
body .my-account-mobile .tabs span {
  font-family: 'shapiro97_air_extd';
  font-size: 18px;
  line-height: 18px;
  -webkit-text-stroke: 1px;
}
body .my-account-mobile .tabs span:nth-of-type(1) {
  margin-right: 20px;
}
body .my-account-mobile .tabs span.selected {
  font-family: 'shapiro95_super_wide';
  font-size: 20px;
  line-height: 19px;
  font-weight: normal;
}
body .my-account-mobile .tabs {
  font-size: 24px;
  line-height: 20px;
}
body .my-account-mobile .tab-content {
  margin-bottom: 20px;
}

/* PWA */
body[data-page='app'] {
  overflow: hidden;
}
body[data-page='app'] .header,
body[data-page='app'] .footer {
  opacity: 0;
  pointer-events: none;
}
body .pwa {
  animation: 2000ms introGlow both 0ms;
  background-color: #9999ff;
  height: 100vh;
  opacity: 0;
  padding: 20px;
  position: fixed;
  text-align: center;
  width: 100vw;
}
body .pwa .close-btn {
  color: #fff;
  cursor: pointer;
  height: 30px;
  left: 7px;
  opacity: 1;
  position: absolute;
  top: 7px;
  transition: 500ms opacity ease;
  width: 30px;
}
body .pwa .close-btn:hover {
  opacity: 0.6;
}
body .pwa .install-wrapper {
  animation: 2000ms introGlow both 1000ms;
  margin-top: 100px;
  opacity: 0;
}
body .pwa .install-wrapper .install {
  color: #fff;
  font-family: 'shapiro97_air_extd';
  -webkit-text-stroke: 2.5px;
  font-size: 48px;
  line-height: 42px;
  margin-bottom: 0;
}
body .pwa .install-wrapper .application {
  color: #fff;
  font-family: 'shapiro95_super_wide';
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 0;
}
body .pwa .message {
  animation: 2000ms introGlow both 2000ms;
  bottom: 0;
  color: #fff;
  font-family: 'shapiro95_super_wide';
  font-size: 10px;
  left: 0;
  line-height: 14px;
  margin-bottom: 0;
  opacity: 0;
  padding: 0 20px 25px;
  right: 0;
  position: fixed;
  text-align: center;
  width: 100vw;
}
body .pwa .message .home-icon {
  background: transparent url('../../screens/pwa/images/ios-share-icon.png') no-repeat 0 0;
  background-size: contain;
  display: inline-block;
  height: 23px;
  margin: 0 5px;
  position: relative;
  top: 4px;
  width: 17px;
}
