.onboarding-tour-tooltip {
  border-radius: 0;
  background-color: #1a1a1a;
  color: white;
  min-width: 350px;
}

.onboarding-tour-tooltip .introjs-arrow.top,
.onboarding-tour-tooltip .introjs-arrow.top-middle,
.onboarding-tour-tooltip .introjs-arrow.top-right {
  border-bottom-color: #1a1a1a;
}

.onboarding-tour-tooltip .introjs-arrow.top {
  left: 20px;
}

.onboarding-tour-tooltip .introjs-arrow.bottom,
.onboarding-tour-tooltip .introjs-arrow.bottom-middle,
.onboarding-tour-tooltip .introjs-arrow.bottom-right {
  border-top-color: #1a1a1a;
}

.onboarding-tour-tooltip .introjs-arrow.right,
.onboarding-tour-tooltip .introjs-arrow.right-bottom {
  border-left-color: #1a1a1a;
}

.onboarding-tour-tooltip .introjs-arrow.left,
.onboarding-tour-tooltip .introjs-arrow.left-bottom {
  border-right-color: #1a1a1a;
}

.onboarding-tour-tooltip .introjs-arrow.left {
  top: 20px;
}

.onboarding-tour-tooltip .introjs-tooltip-header {
  padding: 0;
}

.onboarding-tour-tooltip .introjs-tooltip-header .introjs-skipbutton {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.125rem 0.35rem;
  color: black;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.4);
  transform: translate(-40%, -40%);
}

.onboarding-tour-tooltip .introjs-tooltiptext {
  padding: 1.25rem 1rem;
  font-size: 0.875rem;
}

.introjs-tooltipReferenceLayer * {
  font-family: shapiro45_welter_extd;
}

.onboarding-tour-highlight {
  border-radius: 0;
  box-shadow: rgb(255 255 255 / 30%) 0px 0px 1px 2px, rgb(33 33 33 / 50%) 0px 0px 0px 5000px !important;
}
