.survey-modal-stars .star-pair {
  animation: 500ms ease-out 500ms 1 both topFadeInAndSlideIn;
  cursor: pointer;
  display: inline-block;
  margin: 0 1px;
  position: relative;
}
.survey-modal-stars .star-pair:nth-of-type(1) {
  animation-delay: 200ms;
}
.survey-modal-stars .star-pair:nth-of-type(2) {
  animation-delay: 400ms;
}
.survey-modal-stars .star-pair:nth-of-type(3) {
  animation-delay: 600ms;
}
.survey-modal-stars .star-pair:nth-of-type(4) {
  animation-delay: 800ms;
}
.survey-modal-stars .star-pair:nth-of-type(5) {
  animation-delay: 1000ms;
}
.survey-modal-stars .star-pair .star-full,
.survey-modal-stars .star-pair .star-empty {
  display: inline-block;
  height: 50px;
  width: 50px;
}
.survey-modal-stars .star-pair .star-empty {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}
.survey-modal-stars .star-pair .star-full {
  opacity: 0;
  position: relative;
  transition: 300ms opacity ease;
  z-index: 0;
}
.survey-modal-stars .star-pair.hover .star-full,
.survey-modal-stars .star-pair.selected .star-full {
  opacity: 1;
}
