@media (max-width: 480px) {
  .toast-container {
    top: 0.5rem !important;
    right: 0.5rem !important;
    bottom: 0.5rem !important;
    left: 0.5rem !important;
    width: auto !important;
  }
}

@media (min-width: 480px) {
  .toast-container {
    top: 0.5rem !important;
    right: 0.5rem !important;
    width: 450px !important;
  }
}

.toast-container .toast {
  font-family: 'shapiro45_welter_extd';
  padding: 0;
}

.toast-container .toast.Toastify__toast--default {
  background-color: white;
  color: black;
}
