.text-transparent {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

.text-stroke-white {
  -webkit-text-stroke-color: white;
}

.text-stroke-cc-black {
  -webkit-text-stroke-color: #1a1a1a;
}

.text-stroke-cc-purple {
  -webkit-text-stroke-color: #9999ff;
}

.text-stroke-width-1 {
  -webkit-text-stroke-width: 1px;
}

.text-stroke-width-2 {
  -webkit-text-stroke-width: 2px;
}

.text-stroke-width-3 {
  -webkit-text-stroke-width: 3px;
}

.direction-rtl {
  direction: rtl;
}

@media (min-width: 768px) {
  .md\:text-stroke-width-1 {
    -webkit-text-stroke-width: 1px;
  }

  .md\:text-stroke-width-2 {
    -webkit-text-stroke-width: 2px;
  }

  .md\:direction-rtl {
    direction: rtl;
  }
}
